body {
  font-family: "Pacifico", cursive;
  font-size: 62.5%;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  font-size: 16px;
}

a {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.bg {
  background-color: rgb(92, 142, 194);
  transition: background-color 0.5s ease;
}

.content-inner {
  max-width: 1152px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .content-inner {
    width: 100%;
    padding: 0 10px;
  }
}

.section {
  padding: 100px 0;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .section {
    padding: 40px 0;
    min-width: 100%;
  }
}

.sub-title {
  text-align: center;
  font-size: 3em;
  max-width: 1152px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .sub-title {
    font-size: 2em;
    width: 100%;
  }
}

/* this part belongs to header */
.header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  padding: 1em 0;
}

.nav-item {
  padding: 0.5em;
}

.nav-item a {
  font-family: "Oswald", sans-serif;
  font-size: 2em;
  color: white;
  transition: 0.2s color ease-in;
}
@media screen and (max-width: 767px) {
  .nav-item a {
    font-size: 1.5em;
  }
}

.nav-item.on a {
  color: #737171;
}

/* from here starts the main visual */
.main-visual {
  position: relative;
  height: 100vh;
}
@media screen and (max-width: 767px) {
  .main-visual {
    width: 100%;
  }
}

.main-title {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 6em;
  color: white;
}
@media screen and (max-width: 767px) {
  .main-title {
    font-size: 3em;
  }
}

.main-title::after {
  display: block;
  content: "WEB DEVELOPPER & MARKETER";
  font-family: "Oswald", sans-serif;
}

/* from here about me section */
#about .sub-title {
  color: #fff;
}

.profile-topic {
  color: #fff;
  font-size: 35px;
}
@media screen and (max-width: 767px) {
  .profile-topic {
    font-size: 25px;
  }
}

.profile-container {
  width: 300px;
  text-align: center;
  position: relative;
  margin: 100px auto 0;
}
@media screen and (max-width: 767px) {
  .profile-container {
    width: 100%;
    max-width: 300px;
  }
}

.profile-move-wrapper {
  width: 300px;
  top: 0;
  left: 50%;
  position: absolute;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 2s ease-out;
}
@media screen and (max-width: 767px) {
  .profile-move-wrapper {
    width: 100%;
    max-width: 300px;
  }
}

.profile-move-wrapper.default {
  position: static;
  transform: translateX(0);
}

.profile-move-wrapper.on {
  opacity: 1;
}

.profile-pic-wrapper {
  overflow: hidden;
}

.profile-pic-wrapper img {
  margin-top: 20px;
  border-radius: 50%;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 767px) {
  .profile-pic-wrapper img {
    width: 80%;
    height: auto;
  }
}

.profile-content {
  color: #fff;
  font-size: 25px;
  font-family: "Oswald", sans-serif;
}

.aboutBtn {
  display: block;
  max-width: 200px;
  background-color: #fff;
  padding: 15px 10px;
  border-radius: 10px;
  margin: 30px auto;
  text-align: center;
}

.aboutBtn.colored {
  border: solid rgb(101, 191, 149);
}

#skills {
  background-color: #fff;
}

.skill-container {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .skill-container {
    display: block;
  }
}

.skill-block {
  margin-top: 100px;
  width: 50%;
}
@media screen and (max-width: 767px) {
  .skill-block {
    margin-top: 50px;
    width: 100%;
  }
}

.skill-heading {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 25px;
}

.skill-wrapper {
  font-family: "Oswald", sans-serif;
  margin-top: 20px;
}

.skill-bar {
  width: 90%;
  height: 24px;
  position: relative;
  background-color: #cec5c5;
  border-radius: 5px;
}
.skill-bar .skill-bar-score {
  display: block;
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  border-radius: 5px;
  transition: 1s all ease-in-out;
}
.skill-bar .skill-point {
  position: relative;
  padding: 0 10px;
  z-index: 1;
  color: #fff;
}

.skill-title {
  font-size: 20px;
  padding-bottom: 10px;
  display: block;
}

/* from here starts the works section */
#works {
  background-color: #fff;
}

.card-container {
  max-width: 940px;
  margin: 100px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
}
@media screen and (max-width: 767px) {
  .card-container {
    display: block;
    margin: 50px auto 0;
    width: 100%;
  }
}

.card-link {
  display: block;
  /* min-height: 400px; */
  border-radius: 10px;
  transition: box-shadow ease-in 0.5s;
}

.card-link:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
}

.card {
  width: 300px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: solid 1px;
}
@media screen and (max-width: 767px) {
  .card {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 20px;
  }
}

.card-title {
  margin-top: 20px;
  text-align: center;
  padding: 30px 10px;
}

.img-wrapper img {
  border-radius: 10px 10px 0 0;
}

#works .sub-title {
  color: #fff;
  position: relative;
}

#works .card {
  background-color: white;
}

/* from here belongs to media section */
#media .sub-title {
  color: #fff;
  position: relative;
}

#media .card {
  background-color: white;
}

/* from here belongs to contact section */
#contact .sub-title {
  color: #fff;
  position: relative;
}

#contact .sub-title::after {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  content: "You can contact me with the following media";
  text-align: center;
  font-size: 25px;
}
@media screen and (max-width: 767px) {
  #contact .sub-title::after {
    font-size: 20px;
  }
}

.contact-container {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.sns-wrapper {
  opacity: 0;
  transform: translateX(-50%);
  transition: font-size ease-in 1s;
  margin-right: 30px;
}

.sns-wrapper:last-child {
  margin-right: 0;
}

.sns-wrapper:nth-child(1).on {
  animation: slideIn 2s linear 1 forwards;
}

.sns-wrapper:nth-child(2).on {
  animation: slideIn 2s linear 0.5s 1 forwards;
}

.sns-wrapper:nth-child(3).on {
  animation: slideIn 2s linear 1s 1 forwards;
}

.sns-icon {
  display: inline-block;
  font-size: 100px;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .sns-icon {
    font-size: 80px;
  }
}

.sns-wrapper .instagram .sns-icon {
  color: #CF2E92;
  background: -webkit-linear-gradient(0deg, #4C64D3, #CF2E92, #F26939, #FFDD83);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sns-wrapper .facebook .sns-icon {
  color: #3b5998;
}

.sns-wrapper .google .sns-icon {
  color: #fff;
  background: -webkit-linear-gradient(top, #4285F4 0%, #0F9D58 25%, #F4B400 50%, #DB4437 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  text-align: center;
  color: #fff;
  padding: 50px 0;
}

/* from here belongs to the loading animation */
.layer {
  height: 100vh;
  background-color: rgb(92, 142, 194);
  transition: transform 1s ease-out;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.loader-wrapper {
  width: 85px;
  height: 85px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
}

.ball:nth-child(1) {
  top: 0;
  left: 39%;
  animation: loading 1s linear 0s infinite alternate-reverse both;
}

.ball:nth-child(2) {
  top: 39%;
  right: 0;
  animation: loading 1s linear 0.2s infinite alternate-reverse both;
}

.ball:nth-child(3) {
  bottom: 0;
  left: 39%;
  animation: loading 1s linear 0.3s infinite alternate-reverse both;
}

.ball:nth-child(4) {
  top: 39%;
  left: 0;
  animation: loading 1s linear 0.4s infinite alternate-reverse both;
}

.ball:nth-child(5) {
  top: 12%;
  left: 12%;
  animation: loading 1s linear 0.5s infinite alternate-reverse both;
}

.ball:nth-child(6) {
  top: 12%;
  right: 12%;
  animation: loading 1s linear 0.6s infinite alternate-reverse both;
}

.ball:nth-child(7) {
  bottom: 12%;
  right: 12%;
  animation: loading 1s linear 0.7s infinite alternate-reverse both;
}

.ball:nth-child(8) {
  bottom: 12%;
  left: 12%;
  animation: loading 1s linear 0.8s infinite alternate-reverse both;
}

/* animation definition */
@keyframes loading {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.5);
    opacity: 0.5;
  }
}
@keyframes slideIn {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.top-btn-wrap {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .top-btn-wrap {
    right: 15px;
    bottom: 15px;
  }
}

.top-btn {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
  border: solid rgb(92, 142, 194);
  position: relative;
  cursor: pointer;
}

.top-btn-line {
  display: block;
  width: 15px;
  height: 15px;
  border-top: solid 2px rgb(92, 142, 194);
  border-left: solid 2px rgb(92, 142, 194);
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

#works-archive {
  color: rgb(201, 70, 131);
}

.works-bg {
  background-color: rgb(201, 70, 131);
  min-height: 100vh;
}

#works-archive #works {
  background-color: transparent;
}

#works-archive footer {
  background-color: rgb(201, 70, 131);
}

#media-archive {
  color: rgb(101, 191, 149);
}

.media-bg {
  background-color: rgb(101, 191, 149);
  min-height: 100vh;
}

#media-archive #media {
  background-color: transparent;
}

#media-archive footer {
  background-color: rgb(101, 191, 149);
}

.article-content {
  background-color: white;
  font-family: initial;
  color: #000;
  padding: 20px 10px;
  max-width: 940px;
}

.article-title {
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .article-title {
    font-size: 2em;
  }
}

.article-content * {
  margin: 10px 0;
  line-height: 1.2;
}

.article-content h2 {
  text-align: left;
  font-size: 1.6rem;
  color: #000000;
  margin: 20px 0;
  background-color: #f4f4f4;
  padding: 15px 5px 15px 20px;
  border-left: 20px solid rgb(101, 191, 149);
  line-height: 1.4em;
}
@media screen and (max-width: 767px) {
  .article-content h2 {
    font-size: 1.4em;
  }
}/*# sourceMappingURL=style.css.map */